include LICENSE
include VERSION
include README.rst
include requirements.txt
include requirements-dev.txt

recursive-include releasetasks/templates *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include *.rst conf.py Makefile make.bat
